{{#if messages.success}}
<div style="padding: 20px">
  <div class="alert alert-success" role="alert">
    {{messages.success}}
  </div>
</div>
{{/if}}


{{#if messages.danger}}
<div style="padding: 20px">
  <div class="alert alert-danger" role="alert">
    {{messages.danger}}
  </div>
</div>
{{/if}}

{{#if messages.error}}
<div style="padding: 20px">
  <div class="alert alert-danger" role="alert">
    {{messages.error}}
    {{messages.succeed}}
  </div>
</div>
{{/if}}
