<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WebApp - Protected Route</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  {{> navbar}}
  <h1 align="center">File Upload</h1>

  {{> message}}
  {{> validation_errors}}

<div class="container">
    <p>This is a protected route page. Only Admin User has access.</p>

    <div class="row">
        <div class="col-6">

                  <form action='/fileupload/fileupload' method='POST' enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="exampleFormControlFile1">Example file input</label>
                        <input type="file" name='myImage' class="form-control-file">
                      </div>
                      <button type="submit" class="btn btn-secondary">Submit</button>
                   </form>
                   <div>
                     <form action="/fileupload/displayDoc" method="POST">
                     <div class="form-group">
                       <label for="exampleFormControlFile1">Input Doc Number</label>
                       <input id="doc_id" type="text" name='docNumber' class="form-control">
                     </div>
                     <button type="submit" class="btn btn-secondary">Show Document</button>
                   </form>

                 </div>
          </div>
    <div class="col-6" style="padding:10px; border: 1px solid black;height: 70vh">
      {{>fileDisplaySection}}
    </div>


      </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>
