<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unsubscribed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body style="max-width: 600px; margin-right: auto; margin-left:auto">

    <h1 class="mt-5 mb-5" align="center">You have been removed from our mailing List</h1>
    <p align="center">Sorry to see you go . . .</p>

</body>

</html>